body{
    background-color: black;
}
img{
    height: 300px;
    width: 100%;
    border: solid blue 5px; 
}
h1{
    color: white;
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    font-weight: 400px;
    font-style: normal;
}
p{
    color: white;
}
div{
    text-align: center;
    width: 50%;
    margin-left: 25%;

}